* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

/* Navigation Bar  Starts*/
nav {
  background: #222;
  padding: 0.7rem;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  text-align: center;
}

nav li {
  margin: 1rem 0;
}

nav a {
  color: #ccc;
  text-decoration: none;
}

nav a:hover {
  color: dodgerblue;
}
/* Navigation Bar  Ends*/

.img {
  width: 100px;
  border-radius: 500px;
}
.image {
  width: 300px;
}
.logo {
  font-family: 'Roboto', sans-serif;
  margin-top: 13px;
  margin-bottom: 13px;
  font-size: 24px;
}
.del {
  position: relative;
  left: 50%;
}
.header-head {
  box-shadow: 1px 2px #f1f1f1;
  background-color: black;
  color: #f1f1f1;
}

.book {
  display: flex;
  margin: 30px 0;
  gap: 10px;
}
.new {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.img-card {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin: 80px;
}
.img-card img {
  width: 250px;
}
.img-card p {
  text-align: center;
  position: relative;
  margin-top: 50px;
  font-size: 20px;
}
.authors {
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.87);
  margin-top: 100px;
  font-size: 16px;
}
.btn-head {
  margin: 50px 0;
}

.btn-class {
  float: right;
  background-color: #ff8671;
  border: transparent;
  margin-top: -30px;
  margin-bottom: 30px;
  padding: 13px 20px 13px 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  border-radius: 8px;
  color: #f1f1f1;
}

.icon {
  margin-right: 8px;
}

.table-bac {
  margin-top: 50px;
}

.avatar {
  width: 40px;
  margin: 8px 8px 8px 8px;
}

.itemz {
  color: #828282a4;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding-top: 25px !important;
  padding-bottom: -30px !important;
}

.ff {
  border: transparent !important;
}

.card-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-shadow: 1px 2px #f1f1f1;
  min-height: 65vh;
  width: 100%;
  padding: 25px 25px 25px 25px;
  margin-bottom: 50px;
}

.addavatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.in-1 {
  width: 100%;
  background-color: #f2f2f2;
  border: transparent;
  border-radius: 8px;
  padding: 15px 15px 15px 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}

.label-stye {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
}

.btn-class-2 {
  float: right;
  background-color: #ff8671;
  border: transparent;
  border-radius: 8px;
  margin-top: 25px;
  margin-bottom: 20px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 12px 12px 12px 12px;
}
footer {
  text-align: center;
  margin: 100px 0 -100px 0px;
}

/* Media Query for NAVBAR  Starts */
@media screen and (min-width: 768px) {
  nav ul {
    flex-direction: row;
    justify-content: flex-end;
  }
  nav li {
    margin: 0 4rem;
  }
}
/* Media Query for NAVBAR Ends */
